<div clas="container">
	<div class="row">
		<div class="col-sm-12">
			<h1><%= @product.name %></h1>
			<p><% @product.description %></p>
			<a href="<%= @product.url %>">!Obtenlo!</a>
		</div>
	</div>
</div>